@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
html, body{
    margin: 0;
    box-sizing: border-box;
    background: transparent;
}
.support-button {
    display: flex;
    padding: 12px 24px;
    gap: 16px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #FF424D;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    transition: 100ms;
    width: 100%;
    max-width: 400px;
}
.support-button:hover {
    background-color: #e73942;
}
.regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
