@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #FF424D;
        --secondary-color: #e73942;
        --text-color: #fff;
        --background-color: #000;
    }
}
@media (prefers-color-scheme: light){
    :root {
        --primary-color: #FF424D;
        --secondary-color: #e73942;
        --text-color: #fff;
        --background-color: #fff;
    }
}

html, body {
    margin: 0;
    box-sizing: border-box;
    color: var(--text-color);
    background-color: var(--background-color);
}

.support-button {
    display: flex;
    padding: 12px 24px;
    gap: 16px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--primary-color);
    cursor: pointer;
    align-items: center;
    transition: 100ms;
    width: 100%;
    max-width: 250px;
}

.support-button:hover {
    background-color: var(--secondary-color);
}

.regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
